################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/webdevprofile.slnx/FileContentIndex/f8505627-1dfb-45a1-b98d-43deae0c1497.vsidx
